.amz{

  background-color:rgb(255, 255, 255);
  
  height: 1000vh;
  
}
.amz1:hover{
  background-color: rgb(230, 255, 255);
}
.amz1{
  height: fit-content;
  width: fit-content; 
  border: black solid;
  text-align: center;
  border-width: 2px ;
  padding: 20px 25px;
  justify-content: center;
  align-items: center;
}
.back-link{
  color: rgb(44, 54, 75);
}
.back-link:hover{
  color: red;
}
.pricing{
  color: green;
  font-weight: bolder;
  
}

button{
  height: 32px;
  width: 120px;
  border-radius: 40px;
  border: none;
  margin-left: 5px;
  font-weight:600;
  margin: 10px;
}
button:hover{
  opacity: 0.7;
}
button:active{
  opacity: 0.3;
}
.cart-button{
  background: rgba(255, 213, 0, 0.851);
}

.buy-button{
  background:orange;
}

