
button{
  cursor: pointer;
  border-style: solid;
  height :40px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  transition: opacity 0.15s;
}
button:active{
  opacity: 0.3;
}

.Y-button{
  background-color: rgb(200, 0, 0);
  border: none;
  font-size: 18px;
  width: 140px;
  border-radius: 3px;
 
}
.j-button{
  border-color: rgb(13, 195, 223);
  background-color: white;
  border-width: 1px;
  color: rgb(13, 195, 223); 
  width: 100px;
  font-size: 18px;
  border-radius: 2px;
  transition: color .15s, background-color 0.15 ,boder-radius 0.15;
  
}
.j-button:hover{
  background: rgb(13, 195, 223);
  color: white;
  border-radius: 10px;
}


.t-button{
  border-color: rgb(13, 195, 223);
  background-color:rgb(13, 195, 223);
  font-size: 20px;
  border-width: 1px;
  width: 110px;
  font-size: 18px;
  border-radius: 30px;
  transition: box-shadow 0.15s;

}
.t-button:hover{
  box-shadow: 2px 5px 10px rgb(0, 26, 42);
}