.tweet-mood{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 430px;
  border: 1px solid#ccc;
  border-radius: 8px;
  padding: 8px;

}
.profile-img{
  margin-left: 3px;
  margin-right: 3px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;

}
.mood{
  flex:1;
  padding: 8px 8px;
  border: none;
  outline: none;
  font-size: 20px;

}

.tweet-btn{
  background:#1da1f2;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 8px;
}
