.tweet-mood{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 430px;
  border: 1px solid#ccc;
  border-radius: 8px;
  padding: 8px;

}
.profile-img{
  margin-left: 3px;
  margin-right: 3px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;

}
.mood{
  flex:1;
  padding: 8px 8px;
  border: none;
  outline: none;
  font-size: 20px;

}

.tweet-btn{
  background:#1da1f2;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 8px;
}

.fb-friend-request-card {
  margin: 10px;
  width: 230px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  font-family: Arial, sans-serif;
}

.profile-img-fb {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.fb-card {
  padding: 10px;
}

.name {
  font-weight: bold;
  margin: 4px 0;
}

.mutual {
  font-size: 13px;
  color: gray;
  margin-bottom: 8px;
}

.add-btn {
  width: 100%;
  background-color: #1877f2;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #166fe5;
}
