.font-tohoma{
  font-family: Tahoma;
  font-weight: bold;
  font-size: 30px;
}

.txt-deal{
  font-family: Arial;
  text-align: center;
  background: #000;
  font-weight: bold;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.txt-sale-span{
  display: block;
  color: red;
  font-size: 20px;
  font-weight: normal;
}

.course{
  text-align: center;
  background: yellow;
  padding: 20px;
  margin-bottom: 20px;
}

.p-html{
  font-family: Verdana;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;

}
.noob-pro{
  margin: 0px;
  padding: 0px;
  color: rgb(146, 108, 61);
}
button{
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  background: rgb(30, 149, 12);
  border: none;
  border-radius: 5px;  
  transition: padding 0.15s, border-radius 0.1s,box-shadow 0.15s;

}
button:hover{
  border-radius: 10px;
  padding: 10px 25px;
  box-shadow: 0.5px 5px 2px #0b5d1e;

}
button:active{
  transform: translateY(2px);
  box-shadow: 1px 0 0 #0b5d1e;
}

.apple{
  font-family: Arial, Helvetica, sans-serif;
  background:whitesmoke;
  padding: 30px;
  text-align: center;
}
.apple-p{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}