body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}
.header{
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #ddd;

}
.search-box{
  padding: 8px;
  height: 20px;
  width: 300px;
  margin: 4px;
  font-size: 14px;
}
.video-grid{
  display:grid;
  grid-template-columns: repeat(3,minmax(250px,1fr));
  gap:20px;
  padding: 20px;

}
.video-preview{
  border-radius: 10px;
  background: white;
  cursor: pointer;
  width: 100%;
}
.thubmnails{
 width: 100%;
 border-radius: 8px;
}
.video-info{
  padding: 8px;
}
.video-title{
  font-size: 18px;
  font-weight: bold;
  margin: 6px 0;
}
.video-author ,.video-stat{
  font-size: 15px;
  color: #606060;
}

.video-preview:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}