body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}
.header{
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}
.video-preview{
  display: inline-block;
  width: 375px;
  margin: 5px;

}
.div-searchbox{
  align-items: center;
  display: block;

}
.search-box{
  padding: 2px;
  height: 20px;
  width: 500px;
  margin: 4px;
  font-size: medium;
}
.css-img{
  height: 211px;
  margin: 0px;
  cursor: pointer;
  border-radius: 8px;
}
.video-title{
  width: 300px;
  font-weight: bold;
  margin: 5px;
}
.video-author ,.video-stat{
  margin: 2px;
  margin: 5px;
  color: rgb(130, 132, 132);
}
