p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;

}
.video-title{
  
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  
}
.video-stats,.video-disc{
  margin-top:0;
  width: 306px;
  color: rgb(96, 96, 96);
  font-family: Arial;
  font-size: 14px;
}
.vid-auth{
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
  width: 306px;
  margin-top: 20px;

}

.video-disc{
  font-size: 14px;
  width: 306px;
  line-height: 22px;
  margin-bottom: 20px;

}

.apple{
  background: rgb(227,65,64);
  padding: 18px;
  margin:0px 8px 14px 8px;
  text-align: center;
  color: aliceblue;
}
.sp-link{
  margin-left: 10px;
  cursor: pointer;
}
.sp-link:hover{

  text-decoration: underline;
}
