p{
  font-family: Arial;
  width: 306px;
  margin-top: 0;
  margin-bottom: 0;

}
.video-title{
  
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  
}
.video-stats,.video-disc{
  margin-top:0;
  color: rgb(96, 96, 96);
  font-family: Arial;
  font-size: 14px;
}
.vid-auth{
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
  margin-top: 20px;

}

.video-disc{
  font-size: 14px;
  line-height: 22px;

}
