.card{
  background: #000;
  height: 318px;
  width: 450px;
  
}

.thumbnail{
  height: 180px;
  margin: 18px 45px;
  width: 350px;
  background:red;
}

.video-info{
  background:yellow;
  margin: 25px;
  height: 100px;
  width: 400px;
}

.profile-img{
  height: 50px;
  width: 50px;
  background:green;
  display: inline-block;
  margin-top: 8px;
  vertical-align: top;
  
}
.video-title{
   height: 90px;
   margin: 3px;
  width: 340px;
  background:green;
  display: inline-block;

}